{% extends "base.html" %}
{% block content %}
<h1 class="text-center mb-4">Highlight Your PDF</h1>

{% if subscribed %}
<div class="upload-container">
  <form method="post" action="{{ url_for('highlight') }}" enctype="multipart/form-data">
    <label>Select PDF</label>
    <input type="file" name="pdf" required><br>
    <label>Select Excel</label>
    <input type="file" name="excel" required><br>
    <button type="submit">Highlight PDF</button>
  </form>
</div>
{% else %}
<div class="text-center">
  <p>You do not have a subscription.</p>
  <a href="{{ url_for('activate') }}" class="btn btn-success">Activate Subscription</a>
</div>
{% endif %}
{% endblock %}
